/* =========================== Gestion des textes =========================== */
/* Titre principal */
.h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 900; 
    display: block; 
    color: #64b5f6 !important;
}

/* Titre secondaire */
.h2 {
    font-weight: 500 !important;
    color: #64b5f6 !important;
}

/* Texte d'intro */
.intro {
    text-align: center !important;
    font-style: italic !important;
    color: #90a4ae!important;
    font-size: 1.2em !important;
}

/* Texte de presentation */
.presentation {
    background-color:#f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* =========================== Gestion des images =========================== */
.shadowed-image {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
    border-radius: 15px !important;
}

.player-solong {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    animation: jump 0.5s infinite alternate;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-7px);
  }
}

/* =========================== Gestion des videos =========================== */
.video {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}
