/* =========================== Gestion des textes =========================== */
/* Titre principal */
.h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 900; 
    margin: 1em 0;
    display: block; 
}

.h2 {
    font-weight: 600;
    /* background-color: #d1b0b02a;
    border-radius: 5px;
    padding: 15px; */
}

/* Exemple : personnaliser les onglets */
.md-tabs {
    background-color: #eb891a;
    border-radius: 5px;
}


/* =========================== Gestion des images =========================== */
.shadowed-image {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
  border-radius: 15px !important;
}

